</main>

<footer>
  <!-- Step 4 - Add a dynamic year to the footer using JS. -->
   <%        
        
    // Creating Date Object  
    var dateobj = new Date(); 
    
    // Year from above object  
    // is being fetched using getFullYear()  
    var dateObject = dateobj.getFullYear(); 
    
    // Printing current year  
    
  %>
 
  <p>Copyright ©<%= dateObject %> </p>


</footer>
</body>

</html>